<a href="https://colab.research.google.com/github/weeraphon-hub/data_viz_2022/blob/main/final" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

In [287]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [288]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Dataviz Final Exam'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# ข้อมูลชุดที่ 1

In [289]:
data1 = os.path.join(path,'hospital_list.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data1)

/content/drive/My Drive/Dataviz Final Exam/hospital_list.xlsx

In [290]:
data2 = pd.read_excel(data1)  #กำหนดตัวแปร data2 เป็นข้อมูล ไฟล์ hospital_list.xlsx
data2  #เรียกดูตารางของข้อมูล ไฟล์ hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

## ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [291]:
data3= data2[['hcode','name','zone_name','province','amphur','tambon','name5']]
data3

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

## ตรวจสอบค่า missing

In [292]:
data3.isnull().any()

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool

## แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data4

In [293]:
data4= data3.fillna(value={'name':'ไม่ทราบ','zone_name':'ไม่ทราบ','amphur':'ไม่ทราบ','tambon':'ไม่ทราบ','name5':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data3
data4 # แสดงตาราง data4

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [294]:
data4.isnull().any()

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
name5        False
dtype: bool

# ข้อมูลชุดที่ 2

In [295]:
data5 = os.path.join(path,'alldb.csv') #แล้วก็ชี้ไปที่ไฟล์
print(data5)

/content/drive/My Drive/Dataviz Final Exam/alldb.csv

In [296]:
data6 = pd.read_csv(data5)  #กำหนดตัวแปร data6 เป็นข้อมูล ไฟล์ alldb.csv
data6  #เรียกดูตารางของข้อมูล ไฟล์ alldb.csv

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [297]:
data7= data6[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

## ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [298]:
data7.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data6
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

## เปลี่ยน Type Data จากข้อมูลที่เป็น string ให้เป็นค่าว่าง

In [299]:
data7['user'] = pd.to_numeric(data7['user'], errors='coerce')
data7['site'] = pd.to_numeric(data7['site'], errors='coerce')
data7['ov'] = pd.to_numeric(data7['ov'], errors='coerce')
data7['PartitionKey'] = pd.to_numeric(data7['PartitionKey'], errors='coerce')
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.857000e+03,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",5310.0,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.450102e+12,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",5087.0,09:59:47,ปกติ (เหลืองใส),0.0,NaN
4,3.450102e+12,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",5087.0,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",1234.0,NaN,NaN,NaN,NaN
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",1234.0,NaN,ปกติ (เหลืองใส),2.0,NaN
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",1234.0,NaN,ปกติ (เหลืองใส),1.0,NaN
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,1234.0,NaN,NaN,NaN,NaN
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,1234.0,NaN,ปกติ (เหลืองใส),1.0,NaN

## เปลี่ยน Type Data จากข้อมูลที่เป็น numeric ให้เป็นค่าว่าง

In [300]:
data7['phone']=data7['phone'].astype('string')
data7['RowKey']=data7['RowKey'].astype('string')
data7['urine']=data7['urine'].astype('string')
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,NaN,<NA>,NaN,<NA>,NaN,NaN,<NA>,NaN,NaN
1,4.857000e+03,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",5310.0,10:50:32,<NA>,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,<NA>,NaN,NaN,<NA>,NaN,NaN
3,3.450102e+12,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",5087.0,09:59:47,ปกติ (เหลืองใส),0.0,NaN
4,3.450102e+12,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",5087.0,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",1234.0,NaN,<NA>,NaN,NaN
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",1234.0,NaN,ปกติ (เหลืองใส),2.0,NaN
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",1234.0,NaN,ปกติ (เหลืองใส),1.0,NaN
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,1234.0,NaN,<NA>,NaN,NaN
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,1234.0,NaN,ปกติ (เหลืองใส),1.0,NaN

## แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data8

In [301]:
data8= data7.fillna(value={'user':'00000','RowKey':'ไม่ระบุ','date':'0000-00-00','phone':'ไม่ระบุ','site':'00000','time':'00:00:00','urine':'ไม่ระบุ','PartitionKey':'00000'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data7
data8 # แสดงตาราง data8

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,00000,ไม่ระบุ,0000-00-00,ไม่ระบุ,00000,00:00:00,ไม่ระบุ,NaN,00000
1,4857.0,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",5310.0,10:50:32,ไม่ระบุ,NaN,00000
2,00000,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,0000-00-00,ไม่ระบุ,00000,00:00:00,ไม่ระบุ,NaN,00000
3,3450101576642.0,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",5087.0,09:59:47,ปกติ (เหลืองใส),0.0,00000
4,3450101576642.0,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",5087.0,09:44:06,ปกติ (เหลืองใส),NaN,00000
...,...,...,...,...,...,...,...,...,...
40030,00000,6B5FA20F-190E-4021-8547-C12308024C6C,0000-00-00,"iPhone13,4",1234.0,00:00:00,ไม่ระบุ,NaN,00000
40031,00000,F48C51C0-A345-40D6-93F4-46213267E1B1,0000-00-00,"iPhone10,5",1234.0,00:00:00,ปกติ (เหลืองใส),2.0,00000
40032,00000,A986BDAA-6D7C-4017-8E62-A3C104E946B9,0000-00-00,"iPhone13,4",1234.0,00:00:00,ปกติ (เหลืองใส),1.0,00000
40033,00000,bbuogxulur.png,0000-00-00,Samsung SM-A115F,1234.0,00:00:00,ไม่ระบุ,NaN,00000
40034,00000,zttpqogiso.png,0000-00-00,Samsung SM-A115F,1234.0,00:00:00,ปกติ (เหลืองใส),1.0,00000

In [302]:
data9 = data8.dropna() #ตัดข้อมูลที่เป็นค่าว่างของ ov ออก เพราะไม่สามารถแทนค่า missing ด้วยค่าอื่นได้ เนื่องจากต้องการข้อมูลที่เป็นตัวเลข 0-4 เท่านั้น
data9

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
3,3450101576642.0,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",5087.0,09:59:47,ปกติ (เหลืองใส),0.0,00000
9,3450101576642.0,9AF8428C-0616-47DE-AB4C-54F31EA31979,2022-02-23,"iPhone13,4",5087.0,10:11:06,ปกติ (เหลืองใส),0.0,00000
10,3450101576642.0,B7C1D24C-8090-4C2F-BC04-7CC4D09663DC,2022-02-23,"iPhone13,4",5087.0,09:58:42,ปกติ (เหลืองใส),0.0,00000
13,3450101576642.0,C5E5C877-D7BC-4137-A328-8F350932B9DF,2022-02-23,"iPhone13,4",5087.0,09:58:03,ปกติ (เหลืองใส),0.0,00000
14,3450101576642.0,D94E9A26-80AF-4A24-A4DC-A4F78414694C,2022-02-23,"iPhone13,4",5087.0,10:00:11,ปกติ (เหลืองใส),0.0,00000
...,...,...,...,...,...,...,...,...,...
40028,00000,lkwfdvltek.png,0000-00-00,Samsung SM-A307GN,1234.0,00:00:00,ปกติ (เหลืองใส),2.0,00000
40029,00000,txslrhofvq.png,0000-00-00,Samsung SM-N935F,00000,00:00:00,ปกติ (เหลืองใส),1.0,00000
40031,00000,F48C51C0-A345-40D6-93F4-46213267E1B1,0000-00-00,"iPhone10,5",1234.0,00:00:00,ปกติ (เหลืองใส),2.0,00000
40032,00000,A986BDAA-6D7C-4017-8E62-A3C104E946B9,0000-00-00,"iPhone13,4",1234.0,00:00:00,ปกติ (เหลืองใส),1.0,00000
40034,00000,zttpqogiso.png,0000-00-00,Samsung SM-A115F,1234.0,00:00:00,ปกติ (เหลืองใส),1.0,00000

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [303]:
data9.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

### User

In [305]:
data9.dtypes

user             object
RowKey           string
date             object
phone            string
site             object
time             object
urine            string
ov              float64
PartitionKey     object
dtype: object

In [304]:
data9 = data9[(data9['user'].astype(str).str.isdigit()) & (data9['user'].str.len() == 5)] 
data9

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
20,00000,aczroqxlzp.png,2022-02-23,Samsung SM-A305F,00000,09:27:30,ปกติ (เหลืองใส),0.0,00000
24,00000,aqgzagjmut.png,2022-02-26,HUAWEI STK-L22,5435.0,10:38:22,ปกติ (เหลืองใส),0.0,00000
25,00000,bauvbwzbtv.png,2022-02-26,HUAWEI STK-L22,00000,09:55:24,ปกติ (เหลืองใส),4.0,00000
26,00000,bdvpqurtvu.png,2022-02-22,Samsung SM-J415F,5082.0,12:59:06,ปกติ (เหลืองใส),3.0,00000
29,00000,bhnsgchboh.png,2022-02-23,Samsung SM-A305F,00000,09:35:20,ปกติ (เหลืองใส),0.0,00000
...,...,...,...,...,...,...,...,...,...
40028,00000,lkwfdvltek.png,0000-00-00,Samsung SM-A307GN,1234.0,00:00:00,ปกติ (เหลืองใส),2.0,00000
40029,00000,txslrhofvq.png,0000-00-00,Samsung SM-N935F,00000,00:00:00,ปกติ (เหลืองใส),1.0,00000
40031,00000,F48C51C0-A345-40D6-93F4-46213267E1B1,0000-00-00,"iPhone10,5",1234.0,00:00:00,ปกติ (เหลืองใส),2.0,00000
40032,00000,A986BDAA-6D7C-4017-8E62-A3C104E946B9,0000-00-00,"iPhone13,4",1234.0,00:00:00,ปกติ (เหลืองใส),1.0,00000
40034,00000,zttpqogiso.png,0000-00-00,Samsung SM-A115F,1234.0,00:00:00,ปกติ (เหลืองใส),1.0,00000

### RowKey

### date

### phone

### site

### time

### urine

### ov

### PartitionKey

## รวมข้อมูลที่ 1 และข้อมูลที่ 2