<a href="https://colab.research.google.com/github/weeraphon-hub/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Mounted at /content/drive

In [ ]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
data_df = pd.read_csv(data_file_path)

In [ ]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_df

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

ตรวจสอบค่าใน column

In [ ]:
set(data_df['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [ ]:
len('สมุุทรสงคราม')

12

In [ ]:
'สมุุทรสงคราม'[2]

'ุ'

In [ ]:
'สมุุทรสงคราม'[3]

'ุ'

## ต่อตาราง



*   ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
*   ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

## ต่อแกน Y

In [ ]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

### ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [ ]:
dataBKKKKC = pd.concat([BKK,KKC])
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [ ]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])

In [ ]:
dataBKKKKC

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

### ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [ ]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2.head()

    sex   age nationality
0  หญิง  61.0       China
1  หญิง  74.0       China
3   ชาย  68.0       China
4  หญิง  66.0       China
5  หญิง  33.0       China

In [ ]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex']]
KKC2.head()

       age nationality   sex
180   33.0    Thailand   ชาย
462   36.0    Thailand  หญิง
1466  19.0    Thailand   ชาย
1970  70.0    Thailand  หญิง
2637  63.0    Thailand  หญิง

In [ ]:
pd.concat([BKK2,KKC2])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    ชาย  20.0    Thailand
10610   ชาย  17.0    Thailand
11517   ชาย  12.0    Thailand
11697  หญิง  17.0    Thailand
11698  หญิง  37.0    Thailand

[2803 rows x 3 columns]

In [ ]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','risk']]
KKC3.head()

       age nationality                                           risk
180   33.0    Thailand                                        สนามมวย
462   36.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand                  สัมผัสผู้เดินทางจากต่างประเทศ

In [ ]:
pd.concat([BKK2,KKC3])

        sex   age nationality                                         risk
0      หญิง  61.0       China                                          NaN
1      หญิง  74.0       China                                          NaN
3       ชาย  68.0       China                                          NaN
4      หญิง  66.0       China                                          NaN
5      หญิง  33.0       China                                          NaN
...     ...   ...         ...                                          ...
9334    NaN  20.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517   NaN  12.0    Thailand                         อยู่ระหว่างการสอบสวน
11697   NaN  17.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698   NaN  37.0    Thailand  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 4 columns]

In [ ]:
KKC4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality']]
KKC4.head()

       age nationality
180   33.0    Thailand
462   36.0    Thailand
1466  19.0    Thailand
1970  70.0    Thailand
2637  63.0    Thailand

In [ ]:
pd.concat([BKK2,KKC4])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    NaN  20.0    Thailand
10610   NaN  17.0    Thailand
11517   NaN  12.0    Thailand
11697   NaN  17.0    Thailand
11698   NaN  37.0    Thailand

[2803 rows x 3 columns]

## ต่อแกน X

In [ ]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [ ]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head()

         No. announce_date  ... province_of_onset                              risk
247      248     3/19/2020  ...      สุราษฎร์ธานี  คนต่างชาติเดินทางมาจากต่างประเทศ
2338    2339      4/8/2020  ...           ปัตตานี                  State Quarantine
5273    5274    12/21/2020  ...         สมุทรสาคร                 Cluster สมุทรสาคร
11438  11439     1/15/2021  ...         สมุทรสาคร                 Cluster สมุทรสาคร
4453    4454    12/20/2020  ...         สมุทรสาคร                 Cluster สมุทรสาคร

[5 rows x 5 columns]

### เอาตารางสองอันมาต่อกัน

In [ ]:
personalcovid_data = personal_data.merge(covid_data)
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [ ]:
personalcovid_data = covid_data.merge(personal_data)
personalcovid_data.head()

     No. announce_date province_of_isolation  ...   sex   age nationality
0    248     3/19/2020          สุราษฎร์ธานี  ...  หญิง  26.0     Belgium
1   2339      4/8/2020                  ยะลา  ...   ชาย  74.0    Thailand
2   5274    12/21/2020             สมุทรสาคร  ...   NaN   NaN       Burma
3  11439     1/15/2021             สมุทรสาคร  ...  หญิง  39.0       Burma
4   4454    12/20/2020             สมุทรสาคร  ...   NaN   NaN       Burma

[5 rows x 8 columns]

# Save Table

In [ ]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv') )

In [ ]:
personalcovid_data.to_csv('my_processed_data.csv')

# Groupby

https://www.kaggle.com/crawford/python-groupby-tutorial#

In [ ]:
data_df.groupby('nationality').count()

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [ ]:
data_df.groupby('nationality').mean()

                         No.        age
nationality
Afghanistan      4346.000000  31.000000
Albania          2377.333333  40.666667
American         3862.000000  39.000000
American         3905.000000  46.000000
American Samoa  11687.000000  21.000000
...                      ...        ...
deutsch          3898.000000  55.000000
thailand         6823.000000  53.500000
ต่างด้าว         2944.952381  20.000000
ไทยใหญ่         10379.000000  30.000000
ไทใหญ่           5983.000000  33.000000

[100 rows x 2 columns]

In [ ]:
data_df.groupby('nationality')['age'].min()

nationality
Afghanistan       31.0
Albania           33.0
American          39.0
American          46.0
American Samoa    21.0
                  ...
deutsch           55.0
thailand          50.0
ต่างด้าว          13.0
ไทยใหญ่           30.0
ไทใหญ่            33.0
Name: age, Length: 100, dtype: float64

In [ ]:
data_df.groupby('nationality').min(' ')

                  No.   age
nationality
Afghanistan      4346  31.0
Albania          1480  33.0
American         3862  39.0
American         3905  46.0
American Samoa  11687  21.0
...               ...   ...
deutsch          3898  55.0
thailand         6822  50.0
ต่างด้าว         2227  13.0
ไทยใหญ่         10379  30.0
ไทใหญ่           5983  33.0

[100 rows x 2 columns]

# Create Pandas table

![creating pandas dataframes.jpg]()

In [ ]:
import pandas as pd

## Dictionary(row oriented)

In [ ]:
data_list = [ {'account':'Jones LLC','Jan':150,'Feb':200,'Mar':140},
              {'account':'Alpha Co','Jan':200,'Feb':210,'Mar':215},
              {'account':'Blue Inc','Jan':50,'Feb':90,'Mar':95}, 
             ]

In [ ]:
data_list

[{'Feb': 200, 'Jan': 150, 'Mar': 140, 'account': 'Jones LLC'},
 {'Feb': 210, 'Jan': 200, 'Mar': 215, 'account': 'Alpha Co'},
 {'Feb': 90, 'Jan': 50, 'Mar': 95, 'account': 'Blue Inc'}]

In [ ]:
df1 = pd.DataFrame(data_list)
df1

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

## List(row oriented)

In [ ]:
data = [['Jones LLC', 150, 200,	140],
        ['Alpha Co', 200, 210, 215],
        ['Blue Inc', 50, 90, 95]]
header = ['account', 'Jan',	'Feb', 'Mar']

In [ ]:
df2 = pd.DataFrame.from_records(data,columns=header)
df2

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

## Dictionary(column oriented)

In [ ]:
data_dict = { 'accuont':['Jones LCC', 'Alpha Co', 'Blue Inc'],
             'Jan': [150,200,50],
             'Feb': [200,210,90],
             'Mar': [140,215,95]
}

In [ ]:
df3 = pd.DataFrame.from_dict(data_dict)
df3

     accuont  Jan  Feb  Mar
0  Jones LCC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

# Quiz กลุ่ม ครั้งที่ 3 

ออกแบบและสร้างตาราง pandas dataframe ที่สามารถนำมาดึงข้อมูลด้วย pandas ได้

In [ ]:
data_region1 = { 'จังหวัด': ['อำนาจเจริญ','บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'],
             'ภูมิศาสตร์': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การเมือง': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'อุตุนิยมวิทยา': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การท่องเที่ยว': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ']
}

In [ ]:
df_region1 = pd.DataFrame.from_dict(data_region1)
df_region1

        จังหวัด          ภูมิศาสตร์  ...       อุตุนิยมวิทยา       การท่องเที่ยว
0    อำนาจเจริญ  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
1        บึงกาฬ  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
2     บุรีรัมย์  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
3       ชัยภูมิ  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
4     กาฬสินธุ์  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
5       ขอนแก่น  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
6           เลย  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
7     มหาสารคาม  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
8      มุกดาหาร  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
9        นครพนม  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
10   นครราชสีมา  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
11  หนองบัวลำภู  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
12      หนองคาย  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
13     ร้อยเอ็ด  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
14       สกลนคร  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
15     ศรีสะเกษ  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
16     สุรินทร์  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
17  อุบลราชธานี  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
18     อุดรธานี  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
19        ยโสธร  ตะวันออกเฉียงเหนือ  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ

[20 rows x 5 columns]

In [ ]:
data_region2 = { 'จังหวัด': ['เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์'],
             'ภูมิศาสตร์': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}

In [ ]:
df_region2 = pd.DataFrame.from_dict(data_region2)
df_region2

      จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0   เชียงใหม่      เหนือ    เหนือ         เหนือ         เหนือ
1    เชียงราย      เหนือ    เหนือ         เหนือ         เหนือ
2       ลำปาง      เหนือ    เหนือ         เหนือ         เหนือ
3       ลำพูน      เหนือ    เหนือ         เหนือ         เหนือ
4  แม่ฮ่องสอน      เหนือ    เหนือ         เหนือ         เหนือ
5        น่าน      เหนือ    เหนือ         เหนือ         เหนือ
6       พะเยา      เหนือ    เหนือ         เหนือ         เหนือ
7        แพร่      เหนือ    เหนือ         เหนือ         เหนือ
8   อุตรดิตถ์      เหนือ    เหนือ         เหนือ         เหนือ

In [ ]:
data_region3 = { 'จังหวัด': ['ตาก'],
             'ภูมิศาสตร์': ['ตะวันตก'],
             'การเมือง': ['เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ'],
             'การท่องเที่ยว': ['เหนือ']
}

In [ ]:
df_region3 = pd.DataFrame.from_dict(data_region3)
df_region3

  จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0     ตาก    ตะวันตก    เหนือ         เหนือ         เหนือ

In [ ]:
data_region4 = { 'จังหวัด': ['สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}

In [ ]:
df_region4 = pd.DataFrame.from_dict(data_region4)
df_region4

     จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0    สุโขทัย       กลาง    เหนือ         เหนือ         เหนือ
1   พิษณุโลก       กลาง    เหนือ         เหนือ         เหนือ
2     พิจิตร       กลาง    เหนือ         เหนือ         เหนือ
3  กำแพงเพชร       กลาง    เหนือ         เหนือ         เหนือ
4  เพชรบูรณ์       กลาง    เหนือ         เหนือ         เหนือ

In [ ]:
data_region5 = { 'จังหวัด': ['นครสวรรค์', 'อุทัยธานี'],
             'ภูมิศาสตร์': ['กลาง','กลาง'],
             'การเมือง': ['เหนือ','เหนือ'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['เหนือ','เหนือ']
}

In [ ]:
df_region5 = pd.DataFrame.from_dict(data_region5)
df_region5

     จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  นครสวรรค์       กลาง    เหนือ          กลาง         เหนือ
1  อุทัยธานี       กลาง    เหนือ          กลาง         เหนือ

In [ ]:
data_region6 = { 'จังหวัด': ['อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร','ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การท่องเที่ยว': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง']
}

In [ ]:
df_region6 = pd.DataFrame.from_dict(data_region6)
df_region6

            จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0           อ่างทอง       กลาง     กลาง          กลาง          กลาง
1            ชัยนาท       กลาง     กลาง          กลาง          กลาง
2   พระนครศรีอยุธยา       กลาง     กลาง          กลาง          กลาง
3     กรุงเทพมหานคร       กลาง     กลาง          กลาง          กลาง
4            ลพบุรี       กลาง     กลาง          กลาง          กลาง
5            นครปฐม       กลาง     กลาง          กลาง          กลาง
6           นนทบุรี       กลาง     กลาง          กลาง          กลาง
7          ปทุมธานี       กลาง     กลาง          กลาง          กลาง
8       สมุทรปราการ       กลาง     กลาง          กลาง          กลาง
9         สมุทรสาคร       กลาง     กลาง          กลาง          กลาง
10      สมุทรสงคราม       กลาง     กลาง          กลาง          กลาง
11          สระบุรี       กลาง     กลาง          กลาง          กลาง
12        สิงห์บุรี       กลาง     กลาง          กลาง          กลาง
13       สุพรรณบุรี       กลาง     กลาง          กลาง          กลาง

In [ ]:
data_region7 = { 'จังหวัด': ['นครนายก'],
             'ภูมิศาสตร์': ['กลาง'],
             'การเมือง': ['กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก'],
             'การท่องเที่ยว': ['กลาง']
}

In [ ]:
df_region7 = pd.DataFrame.from_dict(data_region7)
df_region7

   จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  นครนายก       กลาง     กลาง      ตะวันออก          กลาง

In [ ]:
data_region8 = { 'จังหวัด': ['ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด'],
             'ภูมิศาสตร์': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การท่องเที่ยว': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก']
}

In [ ]:
df_region8 = pd.DataFrame.from_dict(data_region8)
df_region8

      จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  ฉะเชิงเทรา   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
1    จันทบุรี   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
2      ชลบุรี   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
3  ปราจีนบุรี   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
4       ระยอง   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
5     สระแก้ว   ตะวันออก     กลาง      ตะวันออก      ตะวันออก
6        ตราด   ตะวันออก     กลาง      ตะวันออก      ตะวันออก

In [ ]:
data_region9 = { 'จังหวัด': ['กาญจนบุรี', 'ราชบุรี'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}

In [ ]:
df_region9 = pd.DataFrame.from_dict(data_region9)
df_region9

     จังหวัด ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา การท่องเที่ยว
0  กาญจนบุรี    ตะวันตก     กลาง          กลาง          กลาง
1    ราชบุรี    ตะวันตก     กลาง          กลาง          กลาง

In [ ]:
data_region10 = { 'จังหวัด': ['เพชรบุรี', 'ประจวบคีรีขันธ์'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}

In [ ]:
df_region10 = pd.DataFrame.from_dict(data_region10)
df_region10

           จังหวัด ภูมิศาสตร์  ...                   อุตุนิยมวิทยา การท่องเที่ยว
0         เพชรบุรี    ตะวันตก  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย          กลาง
1  ประจวบคีรีขันธ์    ตะวันตก  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย          กลาง

[2 rows x 5 columns]

In [ ]:
data_region11 = { 'จังหวัด': ['ชุมพร', 'นครศรีธรรมราช','นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}

In [ ]:
df_region11 = pd.DataFrame.from_dict(data_region11)
df_region11

         จังหวัด ภูมิศาสตร์  ...                   อุตุนิยมวิทยา การท่องเที่ยว
0          ชุมพร        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
1  นครศรีธรรมราช        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
2       นราธิวาส        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
3        ปัตตานี        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
4         พัทลุง        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
5          สงขลา        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
6   สุราษฎร์ธานี        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
7           ยะลา        ใต้  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้

[8 rows x 5 columns]

In [ ]:
data_region12 = { 'จังหวัด': ['กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}

In [ ]:
df_region12 = pd.DataFrame.from_dict(data_region12)
df_region12

  จังหวัด ภูมิศาสตร์ การเมือง                   อุตุนิยมวิทยา การท่องเที่ยว
0  กระบี่        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
1   พังงา        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
2  ภูเก็ต        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
3   ระนอง        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
4    สตูล        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
5    ตรัง        ใต้      ใต้  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้

In [ ]:
for i in range(6):    # วนลูปด้วยค่าซ้ำ
    print("'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'", end = ', ')

'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน',

## ต่อข้อมูล

In [ ]:
df_region_concat = pd.concat([df_region1, df_region2, df_region3, df_region4, df_region5, df_region6,
                                df_region7, df_region8, df_region9, df_region10, df_region11, df_region12])  
df_region_concat

       จังหวัด  ...       การท่องเที่ยว
0   อำนาจเจริญ  ...  ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ...  ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ...  ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ...  ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ...  ตะวันออกเฉียงเหนือ
..         ...  ...                 ...
1        พังงา  ...                 ใต้
2       ภูเก็ต  ...                 ใต้
3        ระนอง  ...                 ใต้
4         สตูล  ...                 ใต้
5         ตรัง  ...                 ใต้

[77 rows x 5 columns]

In [ ]:
df_region_concat[df_region_concat['ภูมิศาสตร์'] == 'ใต้'].count()

จังหวัด          14
ภูมิศาสตร์       14
การเมือง         14
อุตุนิยมวิทยา    14
การท่องเที่ยว    14
dtype: int64

In [ ]:
df_region_concat.groupby('ภูมิศาสตร์').count()

                    จังหวัด  การเมือง  อุตุนิยมวิทยา  การท่องเที่ยว
ภูมิศาสตร์
กลาง                     22        22             22             22
ตะวันตก                   5         5              5              5
ตะวันออก                  7         7              7              7
ตะวันออกเฉียงเหนือ       20        20             20             20
เหนือ                     9         9              9              9
ใต้                      14        14             14             14